/*  your css code here. If applicable */
table {
           
            width: 100%;
            margin: 10px 0;
        }
        tr, td {
            border: 1px solid black;
            padding: 1px;
            
        }
      
td.left-align{text-align:left}
td.right-align{text-align:right}
td.center-align{text-align:center}
td.green{background-color:green}
td.blue{background-color:blue}
